.content_new{
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    /*background-color: #ffffff;*/
    display: flex;
}
.new_left{
    width: 70%;
    height: 100%;
    border: 1px solid #9c9fa1;
}
.new_right{
    width: 30%;
    height: 100%;
    border: 1px solid #9c9fa1;
}