.content img{
    width: 200px;
    height: 100px;
}
.content li{
    list-style-type: none;
    border-bottom: 1px solid #b9bcbe;
}
.content li .right h3 {
    font-size: 20px;
    color: #4f5051;
}

.content li .right p{
    font-size: 13px;
    color: #9c9fa1;
}
.content{
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.content .contentView{
    width: 700px;
    height: 100px;
    margin-top: 10px;
}
.content .left{
    float: left;
}
.content .right{
    float: right;
}